/* section1 */
/* nav1 */
.section1{
    height: 100vh;
    background-image: url(../amg/59dbcef07d246b34008b467b.webp);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.container{
    padding-right:6px !important;
}
.section1 .navbar {
    padding: 0rem 1rem !important;
    justify-content: flex-end;
}
.section1 ul li .nav-link{
    color: white !important;
    font-size:15px !important;
    transition: all 0.3s;
}
.section1 ul li .nav-link:hover{
    color: #72c04c !important;
}
.section1 ul li .nav-link i{
    color: #72c04c !important;
}
.section1 form i{
    color: gray !important;
    margin: 0px 10px 0px 0px;
    transition: all 0.3s;
}
.section1 form i:hover{
    color: white !important;
}
.section1 button i{
    color: white;
}

/* end nav1 */
/* nav 2 */
.navbar-collapse{
    justify-content: flex-end;
}
.section1 .bg-light{
    background-color:black !important;

}
.section1 .bg-light .navbar-brand1 {
    color: white !important;
} 
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.section1 .bg-light .navbar-brand1{
    font-size: 29px;
    margin-left: 29px
}
/* end nav 2 */
/* div3 */
.section1 .section1-div{
    height: 86.8vh;
    background-color:rgb(0, 0,0,0.5);
}
.section1 .section1-div .div-h{
    color: white !important;
}
.section1 .section1-div .div-h h1{
    margin:100px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 150px;
}
.section1 .section1-div .div-h h2{
    margin-bottom: 50px;
    font-size: 24px;
}
.section1 .section1-div .div-h button{
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #8fc04e;
    transition: all 0.5s;

}
.section1 .section1-div .div-h button:hover{
    background-color: #72c04c;
}
  /* end div 3 */
  /* evd section1 */


  /* ======================================================================================================================================================================================= */


/* section2 */
.section2{
    height: 120vh;
}
.section2 .row {
    height: 100%;
}
.section2  .section2-img {
    height: 100%;
    background-image: url(../amg/desktop-wallpaper-10-mall-women-in-shopping-mall.jpg);
    background-size:100% 100%;
    position: relative;
}
.section2 .section2-img a{
    position: absolute;
    left: 50% ;
    top: 47% ;
}
.section2 .section2-img a i{
    font-size: 65px;
    background-color: white;
    color: #72c04c;
    border-radius: 50px;
}
.section2 .section2-about content{
    padding-right: 3rem!important;
    padding-left: 3rem!important;
    padding-top: 3rem!important;
    padding-bottom: 3rem!important 
}
.section2 .section2-about .content h4{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0 0 15px 0;
    background: #f3f8ec;
    color: #8fc04e;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.section2 .section2-about .content h3{
    font-size: 28px;
    font-weight: 700;
    color: #353535;
    margin-bottom: 15px;
}
.section2 .section2-about .content p{
    margin-top: 0;
    margin-bottom: 1rem;
}
.section2 .section2-about .section2-about-card {
    border:none;
    position: relative;
    transform: all 1s;
}
.section2 .section2-about .section2-about-card:hover i{
    color: white;
    background-color: #72c04c;

}
.section2 .section2-about .section2-about-card i{
    border: 2px solid #72c04c;
    border-radius: 50px;
    color: #8fc04e;
    font-size: 30px;
    position: absolute;
    top: 25%;
    left: 15%;
    padding: 15px;   
}
.section2 .section2-about .section2-about-card p{
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media (max-width : 425px){
    .section2 .section2-about .section2-about-card i{
        position: static !important ;
    }
}
    

/* end section2 */


/*=========================================================================================================================================================================================  */



/* section3 */
.section3{
    height: 140vh;
}
.section3 .section3-title h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #f3f8ec;
    color: #8fc04e;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.section3 .section3-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700
}
.section3 .section3-title h3 span{
    color: #8fc04e;    
}
.section3 .section3-title p{
    width: 50%;
    margin: 15px auto 0 auto;
    font-weight: 600;
}
.section3 .all .all-row{
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
   
}
.section3 .all .all-row .box-title{
    flex: 0 0 auto;
    width: 40%;

 
}
.section3 .all .all-row .box-title {
    padding: 60px 30px;
    /* border: 1px solid wheat; */
    box-shadow: 1px 2px 3px 4px rgba(137, 131, 131, 0.232);

}
.section3 .all .all-row .box-title:hover {
    color: white;
    background-color: #8fc04e  ;
    transition: all 1s;
}

.section3 .all .all-row .box-title span{
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #8fc04e;
}

.section3 .all .all-row .box-title  h4{
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #353535;
}
.section3 .all .all-row .box-title  p{
    color: #919191;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.section3 .number .allnumber h1{
    color: #72c04c;
}
.section3 .amg2{
    width: 100% ;
    height: 40vh;
    background-image:linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url(../amg/cta-bg.jpg)  ;
    background-attachment: fixed;
    background-size: cover;
    padding: 60px 0;
}
.section3 .amg2 .coler{
    /* background-color:rgb(0, 0,0,0.5); */
    height: 30vh;
    color: white;
}
.section3 .amg2 .coler h3{
    font-size: 28px;
    font-weight: 700;
}

.section3 .amg2 .coler p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.section3 .amg2 .coler a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #fff;
    color: #fff;
}
.section3 .amg2 .coler a:hover{
    background: #8fc04e;
  border: 2px solid #8fc04e;
}
/* end section3 */


/* ====================================================================== */


/* section4 */
.section4 h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #f3f8ec;
    color: #8fc04e;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}
.section4 h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
}
.section4 h3 span{
    color: #72c04c;
}
.section4 p{
    margin: 15px auto 0 auto;
    font-weight: 600;
}
.section4 .icon-box .allbox {

}
.section4 .icon-box .allbox .card .box .font i{
    color: #bfdb99;
    font-size: 28px;
    transition: ease-in-out 0.3s;
}
.section4 .icon-box .allbox .card .box .font {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #f3f8ec;
    border-radius: 50px;
    border: 1px solid #d6e8bf;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;   
}
.section4 .icon-box .allbox .card .box h4{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}
.section4 .icon-box .allbox .card .box h4 a{
    color: #353535;
    transition: ease-in-out 0.3s;
}
.section4 .icon-box .allbox .card .box p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.section4 .icon-box .box:hover,h4 a {
    text-decoration: none;
    color: #8fc04e;
}


/*  */


/*  */
.portfolio {
    padding-bottom: 40px;
  }
  .section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #f3f8ec;
    color: #8fc04e;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
  }
  .section-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  .section-title p{
    margin: 15px auto 0 auto;
    font-weight: 600;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #efefef;
    border-radius: 50px;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #8fc04e;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .portfolio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: #8fc04e;
    padding: 15px 20px;
  }
  
  .portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link,
  .portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-item .portfolio-info .preview-link:hover,
  .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #d6e8bf;
  }
  
  .portfolio .portfolio-item .portfolio-info .details-link {
    right: 15px;
  }
  
  .portfolio .portfolio-item:hover img {
    top: -30px;
  }
  
  .portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
  }
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #8fc04e;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #8fc04e;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(53, 53, 53, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }


  /* ============================================================ */


  /*  */
.team {
  background: #fff;
  padding: 60px 0;
}
.section-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700
}
.section-title p{
    margin: 15px auto 0 auto;
    font-weight: 600;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #353535;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(143, 192, 78, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a:hover {
  background: #8fc04e;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #353535;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}


/*  */


/*  */
.testimonials {
    padding: 80px 0;
    background: url("../img/testimonials-bg.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  
  .testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(2, 2, 2, 0.7);
  }
  
  .testimonials .section-header {
    margin-bottom: 40px;
  }
  
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  
  .testimonials .testimonial-item {
    text-align: center;
    color: #fff;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 100px;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #fff;
  }
  
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #ddd;
    margin: 0 0 15px 0;
  }
  
  .testimonials .testimonial-item .quote-icon-left,
  .testimonials .testimonial-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 26px;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
  }
  
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #8fc04e;
  }
  
  @media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
  }

  /*  ==========================================================================*/


  /*  */
  .pricing .box {
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 1px solid #f9f9f9;
  }
  .section-title h3{
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  .section-title h3 span{
    color: #8fc04e;
  }
  .section-title p{
    margin: 15px auto 0 auto;
    font-weight: 600;
  }
  
  .pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #353535;
  }
  
  .pricing .box h4 {
    font-size: 42px;
    color: #8fc04e;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
  }
  
  .pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }
  
  .pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }
  
  .pricing .box ul {
    padding: 0;
    list-style: none;
    color: #353535;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
  
  .pricing .box ul li {
    padding-bottom: 16px;
  }
  
  .pricing .box ul i {
    color: #8fc04e;
    font-size: 18px;
    padding-right: 4px;
  }
  
  .pricing .box ul .na {
    color: #ccc;
    text-decoration: line-through;
  }
  
  .pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
  }
  
  .pricing .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 50px;
    border: 2px solid #8fc04e;
    color: #8fc04e;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .pricing .box .btn-buy:hover {
    background: #8fc04e;
    color: #fff;
  }
  
  .pricing .recommended {
    border-color: #8fc04e;
  }
  
  .pricing .recommended .btn-buy {
    background: #8fc04e;
    color: #fff;
  }
  
  .pricing .recommended .btn-buy:hover {
    background: #7aa93c;
    border-color: #7aa93c;
  }
  
  .pricing .recommended-badge {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 13px;
    padding: 3px 25px 6px 25px;
    background: #8fc04e;
    color: #fff;
    border-radius: 0 0 25px 25px;
  }


  /* ==================================================================== */
  

  /*  */
  .faq {
    background: #f5faf0;
  }
  
  .faq .section-title h2 {
    background: #e9f3dd;
  }
  
  .faq .faq-list {
    padding: 0 100px;
  }
  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li+li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
  }
  
  .faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #cbe1ac;
  }
  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #8fc04e;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  }
  

  /* ======================================================================== */


  /*  */
  .contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #8fc04e;
    float: left;
    width: 44px;
    height: 44px;
    background: #f3f8ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #353535;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #686868;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #8fc04e;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #8fc04e;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #7aa93c;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  /* ========================================================== */

  /*  */
  .breadcrumbs {
    padding: 15px 0;
    background: #f4f4f4;
    min-height: 40px;
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    padding-top: 4px;
    font-weight: 500;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #4f4f4f;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: url("../amg/footer-bg.jpg") center center no-repeat;
    color: #fff;
    font-size: 14px;
    position: relative;
  }
  
  #footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(15, 15, 15, 0.75);
    z-index: 1;
  }
  
  #footer .footer-top {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 80px 0;
  }
  
  #footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  #footer .footer-top p {
    font-size: 15;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
  }
  
  #footer .footer-top .footer-newsletter {
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
  }
  
  #footer .footer-top .footer-newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  #footer .footer-top .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #8fc04e;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: #75a239;
  }
  
  #footer .footer-top .social-links {
    margin-top: 30px;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #8fc04e;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #75a239;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-bottom {
    border-top: 1px solid #282828;
    z-index: 2;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  #footer .copyright {
    text-align: center;
    float: left;
  }
  
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
  }